body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}


/* #mid{
    background-color: lightgray;
    border-radius: 10px;
    color: white;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
} */
#data_table{
    margin: auto;
    text-align: center;
    color: white;
    border-collapse: collapse;
}

#data_table td,th{
    border: 0.5px solid white;
    padding: 10px;
}
#data_table th{
    text-transform: uppercase;
}
#data_table td{
    font-weight: bold;
}
.display_img {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center; 
    transition: 1s;
}
/* tu jutro robota */
.display_img:hover {
    transform: scale(1.1);
    display: flex; 
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}
#data_table td:hover{
   background-color: white;
   color: black;
}




/* .display_img:hover{
    transition: 1s;   
} */
/* #mid-box1,#mid-box2,#mid-box3,#mid-box4,#mid-box5{
    padding: 30px;
    width: 60%;
    margin: auto;
    border-radius: 15px;   
}
#mid-box1{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
#mid-box2{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
#mid-box3{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
#mid-box4{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#mid-box5{
    background: rgb(225,183,195);
    background: linear-gradient(90deg, rgba(225,183,195,1) 15%, rgba(242,242,242,1) 27%, rgba(148,233,152,1) 100%);
}


#mid-box1:hover,#mid-box2:hover,#mid-box3:hover,#mid-box4:hover,#mid-box5:hover{
   transition: 0.2s;
   padding: 35px;
} */
